*
{
	margin: 0 auto;
	padding: 0;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

h2, p, input
{
	font-family: "Dosis", sans-serif;
	color: #444041;
	font-size: 16px;
}
h2
{
	font-size: 32px;
}

a
{
	color: #346D88;
}
a:hover
{
	color: #0F3542;
}

html, body, canvas
{
	width: 100%;
	height: 100%;
	display: block;
}

body
{
	background-image: url("../tex/background.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#status
{
	position: absolute;
	left: 50%;
	top: 0;
	width: 460px;
	text-align: center;
	transform: translateX(-50%);
	padding: 16px 0;
	background-color: rgba(255, 255, 255, 0.75);
	pointer-events: none;
}

.turn_timer
{
	position: absolute;
	top: 0;
	width: 80px;
	height: 100%;
}
.turn_timer p
{
	position: relative;
	top: 50%;
	font-size: 24px;
	text-align: center;
	transform: translateY(-50%);
}
#white_timer
{
	right: 0px;
	background-color: rgba(255, 255, 255, 0.75);
}
#black_timer
{
	left: 0px;
	background-color: rgba(0, 0, 0, 0.5);
}
#black_timer p
{
	color: #FFF;
}

#status_text
{
	vertical-align: middle;
	line-height: 140%;
	text-transform: uppercase;
	font-size: 24px;
}

#status_wait
{
	display: block;
	margin: 8px auto;
}

#promotion
{
	position: absolute;
	width: 200px;
	left: 50%;
	top: 160px;
	transform: translateX(-50%);
	display: none;
}
#promotion .prev
{
	position: absolute;
	left: 0px;
	top: 50%;
	padding-right: 12px;
	transform: translateY(-50%);
}
#promotion .next
{
	position: absolute;
	right: 0px;
	top: 50%;
	padding-left: 12px;
	transform: translateY(-50%);
}
#promotion .confirm
{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
#promotion img
{
	cursor: pointer;
}
#promotion .prev:hover, #promotion .next:hover
{
	transform: translateY(-50%) scale(1.1, 1.1);
}
#promotion .confirm:hover
{
	transform: translate(-50%, -50%) scale(1.1, 1.1);
}

#game_over
{
	font-family: 'Oleo Script', cursive;
	font-weight: normal;
	font-size: 8vw;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #EFEFEF;
	text-shadow:
		-0.2vw -0.2vw 0.5vw #444041,
		0.2vw -0.2vw 0.5vw #444041,
		-0.2vw 0.2vw 0.5vw #444041,
		0.2vw 0.2vw 0.5vw #444041;
	pointer-events: none;
}

#chat
{
	position: absolute;
	left: 10px;
	bottom: 10px;
	width: 600px;
	max-width: 90vw;
	pointer-events: none;
}
#chat_wrapper
{
	position: relative;
	width: 100%;
	height: 200px;
	max-height: 50vh;
	margin-bottom: 10px;
	background: #FFF;
	padding: 8px;
	opacity: 0.5;
}
#chat_box
{
	max-height: 100%;
	overflow: hidden;
}
#chat_box span
{
	font-weight: bold;
}
#chat_entry
{
	display: block;
	width: 100%;
	background: #FFF;
	border: none;
	padding: 4px 8px;
	opacity: 0.5;
}
#chat_entry:focus
{
	opacity: 1;
}

#footer
{
	display: inline-block;
	padding: 10px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	font-size: 12px;
}

#mobile_warning
{
	width: 80vw;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#toggle_mute
{
	position: absolute;
	left: 10px;
	top: 10px;
	width: 32px;
	cursor: pointer;
	opacity: 0.5;
}
#toggle_mute:hover
{
	transform: scale(1.1, 1.1);
}
